.Navbar{
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 5px 0 rgb(53, 53, 53);
  padding-bottom: 0.3rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.about--link{
  text-decoration: none;
  color: white;
  
}
.projects--link{
  text-decoration: none;
  color: white;
}
.contact--link{
  text-decoration: none;
  color: white;
}
.Navbar__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-family: 'Manrope';
  font-weight: 600;
  letter-spacing: 0.06em;
}
.Navbar__container--picture{
  display: flex;
  flex-direction: row;
  margin-top: 0.25rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 2rem;
  height: 53px;
}
.Navbar__container--picture img{
  margin-left: 2rem;
  width: 46px;
  padding-top: 0.19rem;
}
.Navbar__container--picture img:hover{
  cursor: pointer;
  width: 60px;
  height: 60px;
}
.Navbar__container--Title{
  padding-top: 0.19rem;
}
.Navbar__container--links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.19rem;

}
.Navbar__container--links p:first-child{
  margin-left: 18rem;
}
.Navbar__container--links p:first-child:hover{
  text-decoration: none;
  cursor: none;
}
.Navbar__container--links p{
  margin-right: 2rem;
}
.Navbar__container--links p:hover{
  text-decoration: underline;
  cursor: pointer;
}

.Navbar__container--logo__container{
  display: flex;
  justify-content: flex-end;
  padding-top: 0.7rem;
  padding-left: 20rem;
}
.Navbar__container--logo__container--logo img{
  width: 30px;
}